<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="account" class="com.ohgiraffers.common.PersonalAccount">
        <constructor-arg index="0" value="20"/>
        <constructor-arg index="1" value="110-234-567890"/>
    </bean>

    <!-- 생성자 주입(다른걸 써보기 위해서 주석 처리함)-->
<!--    <bean id="memeber" class="com.ohgiraffers.common.MemberDTO">-->
<!--        <constructor-arg name="sequence" value="1"/>-->
<!--        <constructor-arg name="name" value="판다"/>-->
<!--        <constructor-arg name="email" value="panda@gmail.com"/>-->
<!--        <constructor-arg name="personalAccount">-->
<!--            <ref bean="account"/>-->
<!--        </constructor-arg>-->
<!--    </bean>-->


    <!-- setter 주입-->
    <bean id="member" class="com.ohgiraffers.common.MemberDTO">
        <property name="sequence" value="1"/>
        <property name="email" value="panda@gmail.com"/>
        <property name="personalAccount" ref="account"/>
    </bean>
    <!-- 생성 된 다른 bean을 의존성 중비할 경우 value 속성이 아닌 reft 속성을 사용하여 bean id를 전달한다.-->
</beans>